* {
    margin: 0;
    padding: 0;
    font:  sans-serif;
}
.container {
    width: 900px;
    height: 100px;
    background-color: burlywood;
    margin: 0 auto;
}
.header {
    width: 900px;
    background-color: burlywood;
    height: 130px;
    font-size: 12px;
}
.nav {
    width: 900px;
    height: 100px;
    background-color: cadetblue;
}
.men {
    width: 900px;
    height: 100px;
    background-color: cadetblue;
}
.main {
    width: 900px;
    height: 200px;
    background-color: darkcyan;
    font-size: 20px;
}
.footer {
    width: 900px;
    background-color: burlywood;
    height: 100px;
    font-size: 10px;
}
.imag1 {
    width: 50px;
    height: 50px;
    position: relative;
    left: 849px;
} 