* {
    margin: 0;
    padding: 10;
    font:  sans-serif;
}
.container {
    width: 900px;
    height: 100px;
    background-color: rgb(25, 0, 255);
    margin: 0 auto;
}
.header {
    width: 900px;
    background-color: rgb(0, 217, 255);
    height: 130px;
    font-size: 12px;
}
.nav {
    width: 900px;
    height: 100px;
    background-color: rgb(251, 255, 0);
}
.men {
    width: 900px;
    height: 100px;
    background-color: rgb(25, 0, 255);
}
.main {
    width: 900px;
    height: 600px;
    background-color: rgb(255, 123, 0);
    font-size: 20px;
}
.footer {
    width: 900px;
    background-color: rgb(0, 217, 255);
    height: 100px;
    font-size: 10px;
}
.imag1 {
    width: 50px;
    height: 50px;
    position: relative;
    left: 849px;
} 